a.download-link span.download-content {
	display: block;
	font-family: georgia,"Bitstream Charter",serif;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	height: 50px;
	width: 167px;
	line-height: 18px;
	margin-left: 0px;
	padding: 12px 0px 0 65px;
	position: relative;
}

.download-editor {
	background: url("/fileadmin/pix/download_bar_green.gif") no-repeat scroll 0 0 transparent;
}

.download-updater {
	background: url("/fileadmin/pix/download_bar_blue.gif") no-repeat scroll 0 0 transparent;
}

a.download-link, a.download-link:link, a.download-link:visited {
	color: #666666;
}

.download-info {
	font-size: 12px;
	font-family: Arial, sans-serif;
}

/* if javascript is disabled, we should show all download boxes */
li.os_windows, li.os_osx, li.os_linux {
	display: block;
}

ul.os_linux li.os_windows, ul.os_linux li.os_osx {
	display: none;
}

ul.os_windows li.os_linux, ul.os_windows li.os_osx {
	display: none;
}

ul.os_osx li.os_linux, ul.os_osx li.os_windows {
	display: none;
}

/* download box adjustments for locales, get some extra horizontal space */
/*
  a.download-link span.download-content {
  font-size: 17px;
  line-heigth: 17px;
  padding: 3px 0 0 60px;
  }
 */

a.download-link span.download-title {
	margin-bottom: 3px !important;
	display: block;
}

/*
   .betalocale a.download-link span.download-title {
  margin-bottom: 0 !important;
  }
 */

ul.home-download {
	padding: 0px;
	margin: 0px;
}

ul.home-download li {
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}

.download-other {
	width: 232px;
	text-align: center;
	font-size: 11px;
}

/* per locale fixes */

body.locale-hy-AM#nav-main {
	font-size: 10px;
}